.projectfoto{
    width: 300px;
    height: 30vh;
    margin-top: 40px;
}
#image-project{
   

position: relative;
top: -70px;    
float: right;
left: -350px;
}



 @media (max-width:400px) {
    .projectfoto{
        width: 200px;
        height: 23vh;
        margin-left: 10px;
        margin-top: -70px;
    }


 }

 @media (min-width:400px) and (max-width:1200px) {
    .projectfoto{
        width: 200px;
        height: 23vh;
        margin-left: 0px;
        margin-top: -60px;
    }


 }