.header {
  position: fixed;
  top: 0;
  left: 0px;
  display: flex;
  z-index: 3000;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 90px;
}
header .portofolio {

  margin-left: 100px;
}

.header-bg {
  background-color: black;
  width: 100%;
  transition: 1s;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
}

.header ul {
  margin-right: -800px;

}

.bi-x-lg {
  color: white;
}

.bi-distribute-vertical {
  color: white;
  display: none;
}

@media (max-width: 768px) {
  .bi-distribute-vertical {

    display: initial;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -90px;
    top: 70px;

  }

  .nav-menu li {
    padding: 15px;
  }

  .nav-menu.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30px;
    z-index: 10;
    color: white;
    transition: 2s;
    ;
  }

  .nav-menu {
    position: absolute;
    left: -300px;
  }

  .bi-distribute-vertical,
  .bi-x-lg {

    color: white;
    margin-left: -150px;
  }

  header .portofolio {

    margin-left: -10px;
  }
}


@media only screen and (max-width: 1400px) and (min-width: 768px) {
  .nav-menu {
  
  margin-left: -400px;
  
  
  }
}